In [ ]:
from bs4 import BeautifulSoup
import requests
url = BeautifulSoup('https://www.worldometers.info/coronavirus/', 'html.parser')
soup = requests.get(url)
soup = BeautifulSoup(soup.text, "lxml")
table_code = soup.table

<ipython-input-1-22f41612e60e>:3: MarkupResemblesLocatorWarning: The input looks more like a URL than markup. You may want to use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  url = BeautifulSoup('https://www.worldometers.info/coronavirus/', 'html.parser')

In [ ]:
tr_tags = table_code.find_all('tr')
# tr_tags

In [ ]:
data = []
for i in tr_tags:
  y = i.text.split('\n')
  if y[1] != "":
    data.append(y[1:])

In [ ]:
# data

In [ ]:
import csv
file = open('data.csv','w')
x = csv.writer(file)
x.writerows(data)
file.close()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,Tests/,1M pop,Unnamed: 15,Population,Continent,1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,Unnamed: 22
0,1,USA,"109,746,861",NaN,"1,188,692",NaN,"107,610,037",NaN,"948,132","1,535",...,"3,543,648","334,805,269",North America,NaN,32820,NaN,NaN,"2,832",NaN,NaN
1,2,India,"45,003,341",NaN,"533,307",NaN,NaN,NaN,NaN,NaN,...,"661,721","1,406,631,776",Asia,NaN,"312,6382",NaN,NaN,0.7,NaN,NaN
2,3,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,...,"4,139,547","65,584,518",Europe,NaN,23910,NaN,NaN,NaN,NaN,NaN
3,4,Germany,"38,696,556","+7,922","178,943",84.0,"38,240,600",NaN,"277,013",NaN,...,"1,458,359","83,883,596",Europe,NaN,24691,94.0,1.0,"3,302",NaN,NaN
4,5,Brazil,"38,106,633",NaN,"708,021",NaN,"36,249,161",NaN,"1,149,451",NaN,...,"296,146","215,353,593",South America,NaN,63043,NaN,NaN,"5,338",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,227,Tokelau,80,NaN,,NaN,NaN,NaN,80,NaN,...,NaN,"1,378",Australia/Oceania,NaN,17,NaN,NaN,"58,055",NaN,NaN
227,228,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,...,NaN,799,Europe,NaN,28,NaN,NaN,NaN,NaN,NaN
228,229,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,...,NaN,"626,161",Africa,NaN,"62,616626,161",NaN,NaN,NaN,NaN,NaN
229,230,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,231,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,...,"110,461","1,448,471,400",Asia,NaN,"2,878274,7489",NaN,NaN,82,NaN,NaN

In [ ]:
!pip install plotly==5.18.0

Collecting plotly==5.18.0
  Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 82.2 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly==5.18.0) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly==5.18.0) (23.2)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.15.0
    Uninstalling plotly-5.15.0:
      Successfully uninstalled plotly-5.15.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
Successfully installed plotly-5.18.0

In [ ]:
df['TotalCases'][0:10] = list(map(lambda x:int(x.replace(',','')), df['TotalCases'][0:10]))
df['TotalDeaths'][0:10] = list(map(lambda x:int(x.replace(',','')), df['TotalDeaths'][0:10]))
df

<ipython-input-8-272452f8d2e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCases'][0:10] = list(map(lambda x:int(x.replace(',','')), df['TotalCases'][0:10]))
<ipython-input-8-272452f8d2e4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalDeaths'][0:10] = list(map(lambda x:int(x.replace(',','')), df['TotalDeaths'][0:10]))

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,Tests/,1M pop,Unnamed: 15,Population,Continent,1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop,Unnamed: 22
0,1,USA,109746861,NaN,1188692,NaN,"107,610,037",NaN,"948,132","1,535",...,"3,543,648","334,805,269",North America,NaN,32820,NaN,NaN,"2,832",NaN,NaN
1,2,India,45003341,NaN,533307,NaN,NaN,NaN,NaN,NaN,...,"661,721","1,406,631,776",Asia,NaN,"312,6382",NaN,NaN,0.7,NaN,NaN
2,3,France,40138560,NaN,167642,NaN,"39,970,918",NaN,0,NaN,...,"4,139,547","65,584,518",Europe,NaN,23910,NaN,NaN,NaN,NaN,NaN
3,4,Germany,38696556,"+7,922",178943,84.0,"38,240,600",NaN,"277,013",NaN,...,"1,458,359","83,883,596",Europe,NaN,24691,94.0,1.0,"3,302",NaN,NaN
4,5,Brazil,38106633,NaN,708021,NaN,"36,249,161",NaN,"1,149,451",NaN,...,"296,146","215,353,593",South America,NaN,63043,NaN,NaN,"5,338",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,227,Tokelau,80,NaN,,NaN,NaN,NaN,80,NaN,...,NaN,"1,378",Australia/Oceania,NaN,17,NaN,NaN,"58,055",NaN,NaN
227,228,Vatican City,29,NaN,,NaN,29,NaN,0,NaN,...,NaN,799,Europe,NaN,28,NaN,NaN,NaN,NaN,NaN
228,229,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,...,NaN,"626,161",Africa,NaN,"62,616626,161",NaN,NaN,NaN,NaN,NaN
229,230,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,...,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,231,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,...,"110,461","1,448,471,400",Asia,NaN,"2,878274,7489",NaN,NaN,82,NaN,NaN

In [ ]:
TotalCases = list(map(lambda x:int(x.replace(',','')), df['TotalCases'][0:10]))
TotalDeaths = list(map(lambda x:int(x.replace(',','')), df['TotalDeaths'][0:10]))

AttributeError: ignored

In [ ]:
import plotly.express as px
fig = px.bar(df.iloc[0:20], x='Country,Other', y='TotalCases')
fig.show()

In [ ]:
import plotly.express as px
fig = px.bar(df.iloc[0:20], x='Country,Other', y='TotalDeaths')
fig.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[
    go.Bar(name='TotalCases', x=df['Country,Other'][0:10], y=TotalCases),
    go.Bar(name='TotalDeaths', x=df['Country,Other'][0:10], y=TotalDeaths)
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.show()